ul {
    padding: unset;
    margin: revert;
}

li {
    list-style: decimal-leading-zero;
    list-style-position: inside !important;
}

li::marker {
    font-weight: bold;
}

#header .logo a,#header .logo a:hover {
    width: 80px;
    text-indent: initial;
    color: white;
    padding-left: 80px;
}

#mainpage ul.countries li a {
    font-size: 5mm;
    line-height: 9mm;
}

#mainpage li {
    list-style: none;
}

#country-korea li {
    list-style: korean-hangul-formal;
}

#country-korea #guesthouse img {
    max-width: 98%;
}


#country-korea .park-image {
    float: left;
}

#country-korea .park-image img {
    height: 222px;
    margin: 0px 22px 0px 0px;
}